<table class="table table-dark ">
  <thead class="thead">
      <th scope="col" class="text-center">Status</th>
      <th scope="col">Title</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Tags</th>
      <th scope="col">Likes</th>
      <% if logged_in? && current_user.admin? %>
        <th scope="col">Delete</th>
      <% end %>
  </thead>
  <tbody>
    <% collection.each do |problem| %>
      <tr class="justify-content-center">
        <% if logged_in? && current_user.problems_solved.exists?(problem.id) %>
          <td class="text-center"><i class="fa fa-check-circle text-success"></i></td>
        <% else %>
          <td class="text-center"><i class="fa fa-minus text-secondary"></i></td>
        <% end %>
        <td >
          <div class="zoom float-left">
            <%= link_to problem.title, problem_path(problem),class: "text-decoration-none text-white problem-title" %>
          </div>
        </td>
        <td class=
        <% if problem.tag.tagname == "Easy"%>
          <%= "text-success" %>
        <% elsif problem.tag.tagname == "Medium"%>
          <%= "text-warning" %>
        <% else %>
          <%= "text-danger" %>
        <% end %>
        ><%= problem.tag.tagname %></td>
        <td class="row d-flex">
            <% problem.categories.each do |category| %>
              <div class="mr-2 mt-0" ><span class="badge badge-pill badge-secondary"><%= category.name%></span> </div>
            <% end %>
        </td>
        <td class="display_like">
          <p class="d-inline display_like_count_<%= problem.id %> "><%= problem.likes %></p>
         <div class="display_like_icon_<%= problem.id %> d-inline">
          <% if logged_in? %>
            <% if current_user.liked_problems.exists?(problem.id) %>
              <%= link_to "", like_path(id: problem), remote: true, class: "fa fa-star text-decoration-none text-warning" %>
            <% elsif %>
              <%= link_to "", like_path(id: problem), remote: true, class: "fa fa-star-o text-decoration-none text-secondary" %>
            <% end %>
          <%else%>
            <i class="fa fa-star text-decoration-none text-secondary"></i>
          <%end%>
            
          </div>
        </td>
        <% if logged_in? && current_user.admin?%>
          <td><%= link_to "", problem_path(problem), method: :delete, 
          class: "fa fa-trash-o text-decoration-none text-danger" ,
          data: { confirm: "Are you sure?" }%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
