<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Status</th>
      <th scope="col">Title</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Categories</th>
      <th scope="col">Likes</th>
      <% if logged_in? && current_user.admin? %>
      <th scope="col">Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr class="justify-content-center">
        <td><%= problem.id %></td>
        <% if logged_in? && current_user.problems_solved.exists?(problem.id) %>
          <td><i class="fa fa-check-circle text-success"></i></td>
        <% else %>
          <td><i class="fa fa-minus text-secondary"></i></td>
        <% end %>
        <td ><%= link_to problem.title, problem_path(problem),class: "text-decoration-none text-black problem-title" %></td>
        <td class=
        <% if problem.tag.tagname == "Easy"%>
          <%= "text-success" %>
        <% elsif problem.tag.tagname == "Medium"%>
          <%= "text-warning" %>
        <% else %>
          <%= "text-danger" %>
        <% end %>
        ><%= problem.tag.tagname %></td>
        <td class="row d-flex">
            <% problem.categories.each do |category| %>
              <div class="mr-2" ><%= link_to category.name, category_path(category), class: "badge badge-pill badge-info" %></div>
            <% end %>
        </td>
        <td>
          <%= problem.likes %>
          <% if logged_in? && current_user.liked_problems.exists?(problem.id) %>
            <%= link_to "", like_path(id: problem), method: :create, class: "fa fa-star text-decoration-none" %>
          <% else %>
            <%= link_to "", like_path(id: problem), method: :create, class: "fa fa-star-o text-decoration-none" %>
          <% end %>
        </td>
        <td><%= link_to "", problem_path(problem), method: :delete, 
        class: "fa fa-trash-o text-decoration-none text-danger" ,
        data: { confirm: "Are you sure?" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
