   
<ul>
  <li>username : <%= @user.username %></li>
  <li>email : <%= @user.email %></li>
  <li>easysolved : <%= @user.easysolved %></li>
  <li>mediumSolved : <%= @user.mediumSolved %></li>
  <li>difficultSolved : <%= @user.difficultSolved %></li>
  <li>Total_problems_solved : <%= @user.easysolved+@user.mediumSolved+@user.difficultSolved %></li>
</ul>

<ul>
<% @problems.each do |problem|%>
  <li> <%= problem.title %> </li>
<% end %>
</ul>