<div class="container-fluid m-0">
<div class="content row bg-dark">
<div class="col-12 col-lg-3">

  <div class="pl-3 col-12 p-0">
    <div class="profile col-12 bg-darkl shadow p-3 mb-3 rounded">
      <%= gravatar_for @user, size: 160, class: "card-img-top m-auto col-12" %>
      <h5 class="col-12 text-center"><%= @user.username %></h5> 
      <% if !@user.admin? %>
        <p>Rank : <%= @user.rank %></p>
        <p>Score : <%= @user.score %></p>
      <% end %>
      <div class="col-12 mt-4 mr-0">
        <% if logged_in? %>
          <% if @user == current_user%>
            <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-info col-12" %>
          <% end %>
          <% if @user != current_user && current_user.admin?%>
            <%= link_to "Delete user", user_path(@user), class: "btn btn-outline-danger col-12", method: :delete,
            data: {confirm: "Are you sure you want to delete the user account?"} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="pl-3 col-12 p-0 m-0">
    <div class="profile_problems_solved col-12 bg-darkl pb-3 shadow mb-5 rounded">
      <p class="row m-auto pt-2 pb-1 text-center">Problems Solved : 
      <%= @user.problems_solved.count %>/<%= Problem.all.count %></p>
      <div class="pt-4 px-0 t col-12">
        <div class="progress" data-percentage= <%= (@user.problems_solved.count*100)/Problem.all.count%>>
          <span class="progress-left">
            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
            <span class="progress-bar"></span>
          </span>
          <div class="progress-value">
            <div class="text-white">
              <%= (@user.problems_solved.count*100)/Problem.all.count%>%<br>
            </div>
          </div>
        </div>
      </div>
      <div class="row col-12 pt-2 d-flex justify-content-around p-0 m-0">
        <div class="col-12">
          <div>
            <span class="text-white">Easy</span>
            <span class="float-right text-white"><%= @user.easysolved %> / <%= Tag.find("1").problems.count %> </span> 
            <div class="progress bg-progressbar" style="height: 5px;">
              <div class="progress-bar bg-success" role="progressbar" style="max-width: <%= (@user.easysolved*100)/Tag.find("1").problems.count %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="mt-2">
            <span class="text-white">Medium</span>
            <span class="float-right text-white"><%= @user.mediumSolved %> / <%= Tag.find("2").problems.count %> </span> 
            <div class="progress bg-progressbar" style="height: 5px;">
              <div class="progress-bar bg-warning" role="progressbar" style="max-width: <%= (@user.mediumSolved*100)/Tag.find("2").problems.count %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="mt-2">
            <span class="text-white">Hard</span>
            <span class="float-right text-white"><%= @user.difficultSolved %> / <%= Tag.find("3").problems.count %> </span> 
            <div class="progress bg-progressbar" style="height:5px;">
              <div class="progress-bar bg-danger" role="progressbar" style="max-width: <%= (@user.difficultSolved*100)/Tag.find("3").problems.count %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>

</div>

  <div class="col-12 col-lg-9 container bg-darkl shadow p-3 mb-5 rounded">
    <div class="col-12 mt-4 ">
      <h4 class="text-center mb-3">Recent Submissions</h4>
      <%= render 'submissions/submission', collection: @user.submissions.reverse %>
    </div>
  </div>

</div>
</div>



<style>
.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  
  .title {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
} 

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} 
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>